<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>宇宙小猿</title>
    <style>
        body {
            text-align: center
        }
        canvas {
            margin: 0 auto
        }
    </style>
</head>
<body>
    <canvas id="main" width="396" height="644"></canvas>
    <h4>请选择模式：</h4>
    <a href="/monkey">键盘模式</a>
    <a href="/monkey_key">鼠标模式</a>
    <a href="/">返回主页</a>

</body>
</html>